<%- include('./partials/header.ejs') %>
    <main>
        <section>

            <% canciones.forEach((cancion)=>{ %>
            <h3><%= cancion.titulo %> </h3>
            <h2><%= cancion.artista %></h2>
            <p><%= cancion.fecha %></p>
            <%  }) %>

        </section>
    </main>
<%- include('./partials/footer.ejs') %>



